body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.font-normal {
  font-size: 1.1rem;
}

.font-medium {
  font-size: 1.5rem;
}

.font-large {
  font-size: 1.8rem;
}

.font-xlarge {
  font-size: 2.1rem;
}

header .navbar-home {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 80%;
}

header .navbar-home .content-header {
  display: flex;
  flex-direction: column;
  line-height: normal;
  justify-content: center;
}

.container-main {
  margin: 0 auto;
  width: 80%;
  align-content: center;
}

@media (max-width: 800px) {
  header .navbar-home {
    margin: 0 auto;
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header .content-header span {
    display: none;
  }

  .container-main {
    margin: 0 auto;
    width: 98%;
    align-content: center;
  }

  .container-main .row {
    display: flex;
    flex-direction: column;
  }

  .container-main .row .col.s6 {
    width: 100%;
  }
}

@media (max-width: 400px) {
  header .navbar-home {
    margin: 0 auto;
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header .navbar-home strong {
    text-align: center;
    font-size: 1.8rem;
  }
}
