.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
}

form .field {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 5px;
}

form .field-group {
  display: flex;
}

form fieldset {
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 10px;
}

form legend {
  color: #9e9e9e;
}

form .items-type {
  display: flex;
  justify-content: center;
}

form .items-type label {
  flex: 1;
  text-align: center;
  font-weight: bold;
}

form .items-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 8px;
}

form .items-grid label {
  background-color: #f5f5f5;
  list-style: none;
  border: 2px solid #f5f5f5;
  border-radius: 8px;
  height: 90px;
  padding: 18px 12px 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  cursor: pointer;
}

form .items-grid label.selected {
  background: #e0f2f1;
  border: 2px solid #4db6ac;
  color: #4db6ac;
}

form .items-grid li i,
form .items-grid li span {
  pointer-events: none;
}
